<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Reasoning Test</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        #quiz-container {
            max-width: 600px;
            margin: 20px auto;
        }

        ol {
            list-style-type: none;
        }
        button {
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        #chart-container {
            max-width: 400px;
            margin: 20px auto;
        }
        #timer-container {
            position: fixed;
            top: 0;
            right: 0;
            margin: 20px;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    label:hover {
        background-color: #f0f0f0;
    }
    img{
        height: 90%;
        width: 90%;
    }
    </style>
</head>

<body>

    <div id="quiz-container">
        <h1>Abstract Reasoning Test</h1>
        <form id="quiz-form">
            <!-- Questions and Options -->
            <ol>
                <li>
                    <p>1. Which of the following matches the relationship between the shapes in the image?</p>
                    <img src="{{ url_for('static', filename='img/aq1.png')}}">
                    <label><input type="radio" name="q1" value="a"> a) A</label>
                    <label><input type="radio" name="q1" value="b"> b) B</label>
                    <label><input type="radio" name="q1" value="c"> c) C</label>
                    <label><input type="radio" name="q1" value="d"> d) D</label>
                </li>
                <li>
                    <p>2. Which Domino comes next in sequence?</p>
                    <img src="{{ url_for('static', filename='img/aq2.png')}}">
                    <label><input type="radio" name="q2" value="a"> a) A</label>
                    <label><input type="radio" name="q2" value="b"> b) B</label>
                    <label><input type="radio" name="q2" value="c"> c) C</label>
                    <label><input type="radio" name="q2" value="d"> d) D</label>
                </li>

                <li>
                    <p>3. Which is the next logical image in the sequence ?</p>
                    <img src="{{ url_for('static', filename='img/aq3.png')}}">
                    <label><input type="radio" name="q3" value="a"> a) A</label>
                    <label><input type="radio" name="q3" value="b"> b) B</label>
                    <label><input type="radio" name="q3" value="c"> c) C</label>
                    <label><input type="radio" name="q3" value="d"> d) D</label>
                    <label><input type="radio" name="q3" value="e"> e) E</label>
                </li>
                <li>
                    <p>4. Which is the next logical image in the sequence ?</p>
                    <img src="{{ url_for('static', filename='img/aq4.png')}}">
                    <label><input type="radio" name="q4" value="a"> a) A</label>
                    <label><input type="radio" name="q4" value="b"> b) B</label>
                    <label><input type="radio" name="q4" value="c"> c) C</label>
                    <label><input type="radio" name="q4" value="d"> d) D</label>
                    <label><input type="radio" name="q4" value="e"> e) E</label>
                </li>
                <li>
                    <p>5. Which is the odd string of letters out ?</p>
                    <img src="{{ url_for('static', filename='img/aq5.png')}}">
                    <label><input type="radio" name="q5" value="a"> a) A</label>
                    <label><input type="radio" name="q5" value="b"> b) B</label>
                    <label><input type="radio" name="q5" value="c"> c) C</label>
                    <label><input type="radio" name="q5" value="d"> d) D</label>
                    <label><input type="radio" name="q5" value="e"> e) E</label>
                </li>
                <li>
                    <p>6.Choose the image that completes the pattern (From left to right)</p>
                    <img src="{{ url_for('static', filename='img/aq6.png')}}">
                    <label><input type="radio" name="q6" value="a"> a) A</label>
                    <label><input type="radio" name="q6" value="b"> b) B</label>
                    <label><input type="radio" name="q6" value="c"> c) C</label>
                    <label><input type="radio" name="q6" value="d"> d) D</label>
                    <label><input type="radio" name="q6" value="e"> e) E</label>
                </li>
                <li>
                    <p>7.Choose the image that completes the pattern (From left to right)</p>
                    <img src="{{ url_for('static', filename='img/aq7.png')}}">
                    <label><input type="radio" name="q7" value="a"> a) A</label>
                    <label><input type="radio" name="q7" value="b"> b) B</label>
                    <label><input type="radio" name="q7" value="c"> c) C</label>
                    <label><input type="radio" name="q7" value="d"> d) D</label>
                    <label><input type="radio" name="q7" value="e"> e) E</label>
                </li>
                <li>
                    <p>8.Complete the sequence. </p>
                    <img src="{{ url_for('static', filename='img/aq8.png')}}">
                    <label><input type="radio" name="q8" value="a"> a) A</label>
                    <label><input type="radio" name="q8" value="b"> b) B</label>
                    <label><input type="radio" name="q8" value="c"> c) C</label>
                    <label><input type="radio" name="q8" value="d"> d) D</label>
                </li>
                <li>
                    <p>9.Complete the sequence. </p>
                    <img src="{{ url_for('static', filename='img/aq9.png')}}">
                    <label><input type="radio" name="q9" value="a"> a) A</label>
                    <label><input type="radio" name="q9" value="b"> b) B</label>
                    <label><input type="radio" name="q9" value="c"> c) C</label>
                    <label><input type="radio" name="q9" value="d"> d) D</label>
                    <label><input type="radio" name="q9" value="e"> e) E</label>
                </li>
                <li>
                    <p>10.Which shape comes next in the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq10.png')}}">
                    <label><input type="radio" name="q10" value="a"> a) A</label>
                    <label><input type="radio" name="q10" value="b"> b) B</label>
                    <label><input type="radio" name="q10" value="c"> c) C</label>
                    <label><input type="radio" name="q10" value="d"> d) D</label>
                    <label><input type="radio" name="q10" value="e"> e) E</label>
                </li>
                <li>
                    <p>11. Choose the correct three figures to complete the sequence: </p>
                    <img src="{{ url_for('static', filename='img/aq11.png')}}">
                    <img src="{{ url_for('static', filename='img/aq11o.png')}}">
                    <label><input type="radio" name="q11" value="a"> a) A</label>
                    <label><input type="radio" name="q11" value="b"> b) B</label>
                    <label><input type="radio" name="q11" value="c"> c) C</label>
                    <label><input type="radio" name="q11" value="d"> d) D</label>
                    <label><input type="radio" name="q11" value="e"> e) E</label>
                </li>
                <li>
                    <p>12. Choose the odd one out: </p>
                    <img src="{{ url_for('static', filename='img/aq12.png')}}">

                    <label><input type="radio" name="q12" value="a"> a) A</label>
                    <label><input type="radio" name="q12" value="b"> b) B</label>
                    <label><input type="radio" name="q12" value="c"> c) C</label>
                    <label><input type="radio" name="q12" value="d"> d) D</label>
                    <label><input type="radio" name="q12" value="e"> e) E</label>
                </li>
                <li>
                    <p>13. If </p>
                    <img src="{{ url_for('static', filename='img/aq13.png')}}">

                    <label><input type="radio" name="q13" value="a"> a) A</label>
                    <label><input type="radio" name="q13" value="b"> b) B</label>
                    <label><input type="radio" name="q13" value="c"> c) C</label>
                    <label><input type="radio" name="q13" value="d"> d) D</label>
                    <label><input type="radio" name="q13" value="e"> e) E</label>
                </li>
                <li>
                    <p>14. If </p>
                    <img src="{{ url_for('static', filename='img/aq14.png')}}">

                    <label><input type="radio" name="q14" value="a"> a) A</label>
                    <label><input type="radio" name="q14" value="b"> b) B</label>
                    <label><input type="radio" name="q14" value="c"> c) C</label>
                    <label><input type="radio" name="q14" value="d"> d) D</label>
                    <label><input type="radio" name="q14" value="e"> e) E</label>
                </li>
                <li>
                    <p>15. Complete the sequence. </p>
                    <img src="{{ url_for('static', filename='img/aq15.png')}}">

                    <label><input type="radio" name="q15" value="a"> a) A</label>
                    <label><input type="radio" name="q15" value="b"> b) B</label>
                    <label><input type="radio" name="q15" value="c"> c) C</label>
                    <label><input type="radio" name="q15" value="d"> d) D</label>
                    <label><input type="radio" name="q15" value="e"> e) E</label>
                </li>
                <li>
                    <p>16. Which figure is the odd one out? </p>
                    <img src="{{ url_for('static', filename='img/aq16.png')}}">

                    <label><input type="radio" name="q16" value="a"> a) A</label>
                    <label><input type="radio" name="q16" value="b"> b) B</label>
                    <label><input type="radio" name="q16" value="c"> c) C</label>
                    <label><input type="radio" name="q16" value="d"> d) D</label>
                    <label><input type="radio" name="q16" value="e"> e) E</label>
                </li>
                <li>
                    <p>17. Which figure is the odd one out? </p>
                    <img src="{{ url_for('static', filename='img/aq17.png')}}">

                    <label><input type="radio" name="q17" value="a"> a) A</label>
                    <label><input type="radio" name="q17" value="b"> b) B</label>
                    <label><input type="radio" name="q17" value="c"> c) C</label>
                    <label><input type="radio" name="q17" value="d"> d) D</label>
                    <label><input type="radio" name="q17" value="e"> e) E</label>
                </li>
                <li>
                    <p>18. Which figure completes the grid?</p>
                    <img src="{{ url_for('static', filename='img/aq18.png')}}">

                    <label><input type="radio" name="q18" value="a"> a) A</label>
                    <label><input type="radio" name="q18" value="b"> b) B</label>
                    <label><input type="radio" name="q18" value="c"> c) C</label>
                    <label><input type="radio" name="q18" value="d"> d) D</label>

                </li>
                <li>
                    <p>19. Which figure completes the grid? </p>
                    <img src="{{ url_for('static', filename='img/aq19.png')}}">

                    <label><input type="radio" name="q19" value="a"> a) A</label>
                    <label><input type="radio" name="q19" value="b"> b) B</label>
                    <label><input type="radio" name="q19" value="c"> c) C</label>
                    <label><input type="radio" name="q19" value="d"> d) D</label>

                </li>
                <li>
                    <p>20. Which figure is next in the series? </p>
                    <img src="{{ url_for('static', filename='img/aq20.png')}}">

                    <label><input type="radio" name="q20" value="a"> a) A</label>
                    <label><input type="radio" name="q20" value="b"> b) B</label>
                    <label><input type="radio" name="q20" value="c"> c) C</label>
                    <label><input type="radio" name="q20" value="d"> d) D</label>

                </li>
                <li>
                    <p>21. Which of the boxes comes next in the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq21.png')}}">

                    <label><input type="radio" name="q21" value="a"> a) A</label>
                    <label><input type="radio" name="q21" value="b"> b) B</label>
                    <label><input type="radio" name="q21" value="c"> c) C</label>
                    <label><input type="radio" name="q21" value="d"> d) D</label>
                    <label><input type="radio" name="q21" value="e"> e) E</label>
                </li>
                <li>
                    <p>22. Which shape follows in the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq22.png')}}">

                    <label><input type="radio" name="q22" value="a"> a) A</label>
                    <label><input type="radio" name="q22" value="b"> b) B</label>
                    <label><input type="radio" name="q22" value="c"> c) C</label>
                    <label><input type="radio" name="q22" value="d"> d) D</label>
                    <label><input type="radio" name="q22" value="e"> e) E</label>
                </li>
                <li>
                    <p>23. Which box follows the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq23.png')}}">

                    <label><input type="radio" name="q23" value="a"> a) A</label>
                    <label><input type="radio" name="q23" value="b"> b) B</label>
                    <label><input type="radio" name="q23" value="c"> c) C</label>
                    <label><input type="radio" name="q23" value="d"> d) D</label>
                    <label><input type="radio" name="q23" value="e"> e) E</label>
                </li>
                <li>
                    <p>24. Which figure completes the sequence?</p>
                    <img src="{{ url_for('static', filename='img/aq24.png')}}">

                    <label><input type="radio" name="q24" value="a"> a) A</label>
                    <label><input type="radio" name="q24" value="b"> b) B</label>
                    <label><input type="radio" name="q24" value="c"> c) C</label>
                    <label><input type="radio" name="q24" value="d"> d) D</label>

                </li>
                <li>
                    <p>25. Which figure completes the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq25.png')}}">

                    <label><input type="radio" name="q25" value="a"> a) A</label>
                    <label><input type="radio" name="q25" value="b"> b) B</label>
                    <label><input type="radio" name="q25" value="c"> c) C</label>
                    <label><input type="radio" name="q25" value="d"> d) D</label>

                </li>
                <li>26. Which figure belongs in neither group? </p>
                    <img src="{{ url_for('static', filename='img/aq26.png')}}">

                    <label><input type="radio" name="q26" value="a"> a) A</label>
                    <label><input type="radio" name="q26" value="b"> b) B</label>
                    <label><input type="radio" name="q26" value="c"> c) C</label>
                    <label><input type="radio" name="q26" value="d"> d) D</label>

                </li>
                <li>
                    <p>27. Which figure completes the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq27.png')}}">
                    <img src="{{ url_for('static', filename='img/aq27o.png')}}">

                    <label><input type="radio" name="q27" value="a"> a) A</label>
                    <label><input type="radio" name="q27" value="b"> b) B</label>
                    <label><input type="radio" name="q27" value="c"> c) C</label>
                    <label><input type="radio" name="q27" value="d"> d) D</label>

                </li>
                <li>
                    <p>28. Which figure completes the sequence? </p>
                    <img src="{{ url_for('static', filename='img/aq28.png')}}">
                    <img src="{{ url_for('static', filename='img/aq28o.png')}}">

                    <label><input type="radio" name="q28" value="a"> a) A</label>
                    <label><input type="radio" name="q28" value="b"> b) B</label>
                    <label><input type="radio" name="q28" value="c"> c) C</label>
                    <label><input type="radio" name="q28" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>29. Complete the sequence. </p>
                    <img src="{{ url_for('static', filename='img/aq29.png')}}">
                    <img src="{{ url_for('static', filename='img/aq29o.png')}}">


                    <label><input type="radio" name="q29" value="a"> a) A</label>
                    <label><input type="radio" name="q29" value="b"> b) B</label>
                    <label><input type="radio" name="q29" value="c"> c) C</label>
                    <label><input type="radio" name="q29" value="d"> d) D</label>

                </li>
                <li>
                    <p>30. Complete the sequence. </p>
                    <img src="{{ url_for('static', filename='img/aq30.png')}}">
                    <img src="{{ url_for('static', filename='img/aq30o.png')}}">

                    <label><input type="radio" name="q30" value="a"> a) A</label>
                    <label><input type="radio" name="q30" value="b"> b) B</label>
                    <label><input type="radio" name="q30" value="c"> c) C</label>
                    <label><input type="radio" name="q30" value="d"> d) D</label>

                </li>




            </ol>

            <button type="button" id="submit"  >Show Result</button>
            <button type="button" id="done" onclick="sendResults()">Submit</button> 
            <button type="button"  id="go" onclick="home()">Return to HomePage</button>
        </form>
    </div>

    <div id="chart-container">
        <h2>Quiz Results</h2>
        <canvas id="quizChart" width="400" height="400"></canvas>
    </div>
    <div id="timer-container">
        <h2 id="timer">Time Left: <span id="timer-countdown">20:00</span></h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var clickedLink7 = document.getElementById('submit');
  clickedLink7.disabled = true;
  clickedLink7.style.display = 'none';
  var Link = document.getElementById('go');
  Link.disabled = true;
  Link.style.display = 'none';
        const answers = {
            q1: "d",
            q2: "a",
            q3: "e",
            q4: "b",
            q5: "e",
            q6: "d",
            q7: "a",
            q8: "b",
            q9: "b",
            q10: "e",
            q11: "b",
            q12: "c",
            q13: "a",
            q14: "c",
            q15: "c",
            q16: "b",
            q17: "c",
            q18: "b",
            q19: "c",
            q20: "a",
            q21: "b",
            q22: "a",
            q23: "d",
            q24: "b",
            q25: "c",
            q26: "d",
            q27: "d",
            q28: "b",
            q29: "c",
            q30: "c"

        };

        function getCorrectAnswer(questionNumber) {
            return answers['q' + questionNumber];
        }

        document.getElementById("submit").addEventListener('click', function(e){
            // Logic to calculate quiz results (count correct, incorrect, unattended)
            var totalQuestions = 30;
            var correctAnswers = 0;
            var unattendedQuestions = 0;

            for (var i = 1; i <= totalQuestions; i++) {
                var selectedOption = document.querySelector('input[name="q' + i + '"]:checked');

                if (selectedOption) {
                    var userAnswer = selectedOption.value;
                    var correctAnswer = getCorrectAnswer(i);

                    // Compare user's answer with correct answer
                    if (userAnswer === correctAnswer) {
                        correctAnswers++;
                    }
                } else {
                    // If no option is selected, question is unattended
                    unattendedQuestions++;
                }
            }

            var incorrectAnswers = totalQuestions - correctAnswers - unattendedQuestions;
            var totalAttempts = correctAnswers + incorrectAnswers;

            // Calculate percentages
            var correctPercentage = (correctAnswers / totalQuestions) * 100;
            var incorrectPercentage = (incorrectAnswers / totalQuestions) * 100;
            var unattendedPercentage = (unattendedQuestions / totalQuestions) * 100;

            // Display pie chart
            displayPieChart(correctPercentage, incorrectPercentage, unattendedPercentage);
           
        })

        function displayPieChart(correct, incorrect, unattended) {
            var ctx = document.getElementById('quizChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Correct (' + correct.toFixed(2) + '%)', 'Incorrect (' + incorrect.toFixed(2) + '%)', 'Unattended (' + unattended.toFixed(2) + '%)'],
                    datasets: [{
                        data: [correct, incorrect, unattended],
                        backgroundColor: ['#4CAF50', '#FF5252', '#FFC107'],
                    }],
                },
            });
        }
        const totalQuizTimeInSeconds = 1200; // 20 minutes

let timer = totalQuizTimeInSeconds;
let timerInterval;
let flag=0;
const remainingTime = localStorage.getItem(`timer2`);
        if (remainingTime) {
            timer=parseInt(remainingTime, 10);}

function startTimer() {
    timerInterval = setInterval(updateTimer, 1000);
}
function home(){
            window.location.href="{{ url_for('high') }}";

        }

function updateTimer() {
    const minutes = Math.floor(timer / 60);
    const seconds = timer % 60;
    document.getElementById('timer-countdown').innerText = `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;

    if (timer <= 0) {
        clearInterval(timerInterval);
        localStorage.removeItem('timer2');
        sendResults();
    } else {
        timer--;
        flag++;
        if(flag==10){
        localStorage.setItem('timer2', timer);
    flag=0;
}
    }
}
function sendResults(){
    var totalQuestions = 30;
            var correctAnswers = 0;
            var unattendedQuestions = 0;

            for (var i = 1; i <= totalQuestions; i++) {
                var selectedOption = document.querySelector('input[name="q' + i + '"]:checked');

                if (selectedOption) {
                    var userAnswer = selectedOption.value;
                    var correctAnswer = getCorrectAnswer(i);

                    // Compare user's answer with correct answer
                    if (userAnswer === correctAnswer) {
                        correctAnswers++;
                    }
                } else {
                    // If no option is selected, question is unattended
                    unattendedQuestions++;
                }
            }
            localStorage.setItem('AR',correctAnswers);
        console.log(localStorage);
        localStorage.setItem('link2',true);
        var clickedLink = document.getElementById('submit');
  clickedLink.disabled = false;
  clickedLink.style.display = 'block';
  var Link = document.getElementById('go');
  Link.disabled = false;
  Link.style.display = 'block';
  var clickedLink1 = document.getElementById('done');
  clickedLink1.disabled = true;
  clickedLink1.style.display = 'none';
  timer = 0;
        updateTimer();

}
// window.onbeforeunload = function () {
//         return 'Your progress will be lost';
//     };

//     // Handle the case when the user chooses to leave the page
//     window.addEventListener('unload', function () {
//         // Call sendResults() function when user leaves the page
//         sendResults();
//     });
// Start the timer when the page loads
startTimer();
    </script>
</body>

</html>