<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Reasoning Test</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        #quiz-container {
            max-width: 600px;
            margin: 20px auto;
        }

        ol {
            list-style-type: none;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        #chart-container {
            max-width: 400px;
            margin: 20px auto;
        }
        #timer-container {
            position: fixed;
            top: 0;
            right: 0;
            margin: 20px;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    button {
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
        }

    label:hover {
        background-color: #f0f0f0;
    }
    img{
        height: 90%;
        width: 90%;
    }
    </style>
</head>

<body>

    <div id="quiz-container">
        <h1>Abstract Reasoning Test</h1>
        <form id="quiz-form">
            <!-- Questions and Options -->
            <ol>
                
                <h3>Instruction</h3>
                <p>In this test, there are 30 questions. You will se rows of designs or figures like those given below in the example.
                    Each row consists of four figures called Problem Figures followed by Answer Figures which have four options-A, B, C and D. The Problem Figures follow a certain sequence. You need to find out which one of the Answer Figures would be the next in the sequence of Problem Figures.</p>
                <li>
                    <p>1.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta1.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta1o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q1" value="a"> a) A</label>
                    <label><input type="radio" name="q1" value="b"> b) B</label>
                    <label><input type="radio" name="q1" value="c"> c) C</label>
                    <label><input type="radio" name="q1" value="d"> d) D</label>
                </li>
                <li>
                    <p>2. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta2.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta2o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q2" value="a"> a) A</label>
                    <label><input type="radio" name="q2" value="b"> b) B</label>
                    <label><input type="radio" name="q2" value="c"> c) C</label>
                    <label><input type="radio" name="q2" value="d"> d) D</label>
                </li>

                <li>
                    <p>3. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta3.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta3o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q3" value="a"> a) A</label>
                    <label><input type="radio" name="q3" value="b"> b) B</label>
                    <label><input type="radio" name="q3" value="c"> c) C</label>
                    <label><input type="radio" name="q3" value="d"> d) D</label>
                
                </li>
                <li>
                    <p>4.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta4.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta4o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q4" value="a"> a) A</label>
                    <label><input type="radio" name="q4" value="b"> b) B</label>
                    <label><input type="radio" name="q4" value="c"> c) C</label>
                    <label><input type="radio" name="q4" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>5. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta5.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta5o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q5" value="a"> a) A</label>
                    <label><input type="radio" name="q5" value="b"> b) B</label>
                    <label><input type="radio" name="q5" value="c"> c) C</label>
                    <label><input type="radio" name="q5" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>6.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta6.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta6o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q6" value="a"> a) A</label>
                    <label><input type="radio" name="q6" value="b"> b) B</label>
                    <label><input type="radio" name="q6" value="c"> c) C</label>
                    <label><input type="radio" name="q6" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>7.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta7.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta7o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q7" value="a"> a) A</label>
                    <label><input type="radio" name="q7" value="b"> b) B</label>
                    <label><input type="radio" name="q7" value="c"> c) C</label>
                    <label><input type="radio" name="q7" value="d"> d) D</label>
                  
                </li>
                <li>
                    <p>8.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta8.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta8o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q8" value="a"> a) A</label>
                    <label><input type="radio" name="q8" value="b"> b) B</label>
                    <label><input type="radio" name="q8" value="c"> c) C</label>
                    <label><input type="radio" name="q8" value="d"> d) D</label>
                </li>
                <li>
                    <p>9.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta9.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta9o.png') }}">
                    <br>
                    <label><input type="radio" name="q9" value="a"> a) A</label>
                    <label><input type="radio" name="q9" value="b"> b) B</label>
                    <label><input type="radio" name="q9" value="c"> c) C</label>
                    <label><input type="radio" name="q9" value="d"> d) D</label>
                  
                </li>
                <li>
                    <p>10<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta10.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta10o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q10" value="a"> a) A</label>
                    <label><input type="radio" name="q10" value="b"> b) B</label>
                    <label><input type="radio" name="q10" value="c"> c) C</label>
                    <label><input type="radio" name="q10" value="d"> d) D</label>
         
                </li>
                 
                <li>
                    <p>11. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta11.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta11o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q11" value="a"> a) A</label>
                    <label><input type="radio" name="q11" value="b"> b) B</label>
                    <label><input type="radio" name="q11" value="c"> c) C</label>
                    <label><input type="radio" name="q11" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>12.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta12.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta12o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q12" value="a"> a) A</label>
                    <label><input type="radio" name="q12" value="b"> b) B</label>
                    <label><input type="radio" name="q12" value="c"> c) C</label>
                    <label><input type="radio" name="q12" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>13.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta13.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta13o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q13" value="a"> a) A</label>
                    <label><input type="radio" name="q13" value="b"> b) B</label>
                    <label><input type="radio" name="q13" value="c"> c) C</label>
                    <label><input type="radio" name="q13" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>14. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta14.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta14o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q14" value="a"> a) A</label>
                    <label><input type="radio" name="q14" value="b"> b) B</label>
                    <label><input type="radio" name="q14" value="c"> c) C</label>
                    <label><input type="radio" name="q14" value="d"> d) D</label>
                 
                </li>
                <li>
                    <p>15.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta15.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta15o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q15" value="a"> a) A</label>
                    <label><input type="radio" name="q15" value="b"> b) B</label>
                    <label><input type="radio" name="q15" value="c"> c) C</label>
                    <label><input type="radio" name="q15" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>16.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta16.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta16o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q16" value="a"> a) A</label>
                    <label><input type="radio" name="q16" value="b"> b) B</label>
                    <label><input type="radio" name="q16" value="c"> c) C</label>
                    <label><input type="radio" name="q16" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>17. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta17.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta17o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q17" value="a"> a) A</label>
                    <label><input type="radio" name="q17" value="b"> b) B</label>
                    <label><input type="radio" name="q17" value="c"> c) C</label>
                    <label><input type="radio" name="q17" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>18. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta18.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta18o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q18" value="a"> a) A</label>
                    <label><input type="radio" name="q18" value="b"> b) B</label>
                    <label><input type="radio" name="q18" value="c"> c) C</label>
                    <label><input type="radio" name="q18" value="d"> d) D</label>

                </li>
                <li>
                    <p>19. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta19.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta19o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q19" value="a"> a) A</label>
                    <label><input type="radio" name="q19" value="b"> b) B</label>
                    <label><input type="radio" name="q19" value="c"> c) C</label>
                    <label><input type="radio" name="q19" value="d"> d) D</label>

                </li>
                <li>
                    <p>20. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta20.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta20o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q20" value="a"> a) A</label>
                    <label><input type="radio" name="q20" value="b"> b) B</label>
                    <label><input type="radio" name="q20" value="c"> c) C</label>
                    <label><input type="radio" name="q20" value="d"> d) D</label>

                </li>
                
                <li>
                    <p>21. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta21.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta21o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q21" value="a"> a) A</label>
                    <label><input type="radio" name="q21" value="b"> b) B</label>
                    <label><input type="radio" name="q21" value="c"> c) C</label>
                    <label><input type="radio" name="q21" value="d"> d) D</label>
                   
                </li>
                <li>
                    <p>22. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta22.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta22o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q22" value="a"> a) A</label>
                    <label><input type="radio" name="q22" value="b"> b) B</label>
                    <label><input type="radio" name="q22" value="c"> c) C</label>
                    <label><input type="radio" name="q22" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>23. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta23.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta23o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q23" value="a"> a) A</label>
                    <label><input type="radio" name="q23" value="b"> b) B</label>
                    <label><input type="radio" name="q23" value="c"> c) C</label>
                    <label><input type="radio" name="q23" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>24. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta24.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta24o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q24" value="a"> a) A</label>
                    <label><input type="radio" name="q24" value="b"> b) B</label>
                    <label><input type="radio" name="q24" value="c"> c) C</label>
                    <label><input type="radio" name="q24" value="d"> d) D</label>

                </li>
                <li>
                    <p>25. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta25.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta25o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q25" value="a"> a) A</label>
                    <label><input type="radio" name="q25" value="b"> b) B</label>
                    <label><input type="radio" name="q25" value="c"> c) C</label>
                    <label><input type="radio" name="q25" value="d"> d) D</label>

                </li>
                <li><p>26. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta26.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta26o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q26" value="a"> a) A</label>
                    <label><input type="radio" name="q26" value="b"> b) B</label>
                    <label><input type="radio" name="q26" value="c"> c) C</label>
                    <label><input type="radio" name="q26" value="d"> d) D</label>

                </li>
                <li>
                    <p>27. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta27.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta27o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q27" value="a"> a) A</label>
                    <label><input type="radio" name="q27" value="b"> b) B</label>
                    <label><input type="radio" name="q27" value="c"> c) C</label>
                    <label><input type="radio" name="q27" value="d"> d) D</label>

                </li>
                <li>
                    <p>28.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta28.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta28o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q28" value="a"> a) A</label>
                    <label><input type="radio" name="q28" value="b"> b) B</label>
                    <label><input type="radio" name="q28" value="c"> c) C</label>
                    <label><input type="radio" name="q28" value="d"> d) D</label>
                    
                </li>
                <li>
                    <p>29. <h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta29.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta29o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q29" value="a"> a) A</label>
                    <label><input type="radio" name="q29" value="b"> b) B</label>
                    <label><input type="radio" name="q29" value="c"> c) C</label>
                    <label><input type="radio" name="q29" value="d"> d) D</label>

                </li>
                <li>
                    <p>30.<h4>Problem Figure</h4><br> <img src="{{ url_for('static', filename='img/ta30.png') }}"></p>
                    <h4>Answer Figure</h4>
                    <img src="{{ url_for('static', filename='img/ta30o.png') }}">
                    <br>
                    <br>
                    <label><input type="radio" name="q30" value="a"> a) A</label>
                    <label><input type="radio" name="q30" value="b"> b) B</label>
                    <label><input type="radio" name="q30" value="c"> c) C</label>
                    <label><input type="radio" name="q30" value="d"> d) D</label>

                </li>




            </ol>

            <button type="button" id="submit"  >Show Result</button>
            <button type="button" id="done" onclick="sendResults()">Submit</button> 
            <button type="button"  id="go" onclick="home()">Return to HomePage</button>
        </form>
    </div>

    <div id="chart-container">
        <h2>Quiz Results</h2>
        <canvas id="quizChart" width="400" height="400"></canvas>
    </div>
    <div id="timer-container">
        <h2 id="timer">Time Left: <span id="timer-countdown">20:00</span></h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var clickedLink7 = document.getElementById('submit');
  clickedLink7.disabled = true;
  clickedLink7.style.display = 'none';
  var Link = document.getElementById('go');
  Link.disabled = true;
  Link.style.display = 'none';
        const answers = {
            q1: "d",
            q2: "b",
            q3: "d",
            q4: "b",
            q5: "b",
            q6: "a",
            q7: "c",
            q8: "b",
            q9: "b",
            q10: "d",
            q11: "a",
            q12: "d",
            q13: "a",
            q14: "c",
            q15: "b",
            q16: "c",
            q17: "a",
            q18: "c",
            q19: "d",
            q20: "a",
            q21: "c",
            q22: "d",
            q23: "b",
            q24: "c",
            q25: "c",
            q26: "a",
            q27: "c",
            q28: "d",
            q29: "b",
            q30: "c"

        };

        function getCorrectAnswer(questionNumber) {
            return answers['q' + questionNumber];
        }

        document.getElementById("submit").addEventListener('click', function(e){
            // Logic to calculate quiz results (count correct, incorrect, unattended)
            var totalQuestions = 30;
            var correctAnswers = 0;
            var unattendedQuestions = 0;

            for (var i = 1; i <= totalQuestions; i++) {
                var selectedOption = document.querySelector('input[name="q' + i + '"]:checked');

                if (selectedOption) {
                    var userAnswer = selectedOption.value;
                    var correctAnswer = getCorrectAnswer(i);

                    // Compare user's answer with correct answer
                    if (userAnswer === correctAnswer) {
                        correctAnswers++;
                    }
                } else {
                    // If no option is selected, question is unattended
                    unattendedQuestions++;
                }
            }

            var incorrectAnswers = totalQuestions - correctAnswers - unattendedQuestions;
            var totalAttempts = correctAnswers + incorrectAnswers;

            // Calculate percentages
            var correctPercentage = (correctAnswers / totalQuestions) * 100;
            var incorrectPercentage = (incorrectAnswers / totalQuestions) * 100;
            var unattendedPercentage = (unattendedQuestions / totalQuestions) * 100;

            // Display pie chart
            displayPieChart(correctPercentage, incorrectPercentage, unattendedPercentage);
        
        })

        function displayPieChart(correct, incorrect, unattended) {
            var ctx = document.getElementById('quizChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Correct (' + correct.toFixed(2) + '%)', 'Incorrect (' + incorrect.toFixed(2) + '%)', 'Unattended (' + unattended.toFixed(2) + '%)'],
                    datasets: [{
                        data: [correct, incorrect, unattended],
                        backgroundColor: ['#4CAF50', '#FF5252', '#FFC107'],
                    }],
                },
            });
        }
        const totalQuizTimeInSeconds = 1200; // 30 minutes

let timer = totalQuizTimeInSeconds;
let timerInterval;
let flag=0;
const remainingTime = localStorage.getItem(`timert2`);
        if (remainingTime) {
            timer=parseInt(remainingTime, 10);}

function startTimer() {
    timerInterval = setInterval(updateTimer, 1000);
}

function updateTimer() {
    const minutes = Math.floor(timer / 60);
    const seconds = timer % 60;
    document.getElementById('timer-countdown').innerText = `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;

    if (timer <= 0) {
        clearInterval(timerInterval);
        localStorage.removeItem('timert2');
        sendResults();
    } else {
        timer--;
        flag++;
        if(flag==10){
        localStorage.setItem('timert2', timer);
    flag=0;
}
    }
}
function home(){
            window.location.href="{{ url_for('ten') }}";

        }
function sendResults(){
    var totalQuestions = 30;
            var correctAnswers = 0;
            var unattendedQuestions = 0;

            for (var i = 1; i <= totalQuestions; i++) {
                var selectedOption = document.querySelector('input[name="q' + i + '"]:checked');

                if (selectedOption) {
                    var userAnswer = selectedOption.value;
                    var correctAnswer = getCorrectAnswer(i);

                    // Compare user's answer with correct answer
                    if (userAnswer === correctAnswer) {
                        correctAnswers++;
                    }
                } else {
                    // If no option is selected, question is unattended
                    unattendedQuestions++;
                }
            }
            localStorage.setItem('AR',correctAnswers);
        console.log(localStorage);
        localStorage.setItem('linkt2',true);
        var clickedLink = document.getElementById('submit');
  clickedLink.disabled = false;
  clickedLink.style.display = 'block';
  var Link = document.getElementById('go');
  Link.disabled = false;
  Link.style.display = 'block';
  var clickedLink1 = document.getElementById('done');
  clickedLink1.disabled = true;
  clickedLink1.style.display = 'none';
  timer = 0;
        updateTimer();

}
// window.onbeforeunload = function () {
//         return 'Your progress will be lost';
//     };

//     // Handle the case when the user chooses to leave the page
//     window.addEventListener('unload', function () {
//         // Call sendResults() function when user leaves the page
//         sendResults();
//     });

// Start the timer when the page loads
startTimer();
    </script>
</body>

</html>